VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_COMMUNITY_SERVERS_URL=https://nlsfzgrapbkxbfekqalc.supabase.co/rest/v1/v_server_summaries?select=*&status=eq.true&country=neq.TOR&country=neq.YGGDRASIL&protocol=eq.2&uptime7=gte.0.9&order=uptime7.desc&offset=0&limit=1000&info_page_available=eq.true
